#main-container{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 8% 7% auto 8%;
    grid-template-areas: 
                        " profile-top chat-name-top"
                        "search-box main-chat"
                        "chat-container main-chat"
                        "chat-container chat-text-area";    
}
@media only screen and (max-width: 768px)
{   
    #main-container{
        height: 100vh;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        /* grid-template-rows: 8% 7% auto 8%; */
        grid-template-areas: 
                            " profile-top "
                            "search-box "
                            "chat-container"
                            "chat-name-top "
                            "main-chat" 
                            "chat-text-area";
    }    

}

#profile-top,
#chat-name-top
{
    background-color:rgb(235, 235, 224);
    /* border-radius: 10px 0 0 0; */
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
}
#search-box,
#chat-text-area
{
    background-color:rgb(245, 245, 239);
    
}
#main-chat
{
    background-image: url("chat-bg.png");
    background-repeat: repeat;
    grid-area: main-chat;
    overflow-y: scroll;
}
.chat-row{
    margin-bottom: 20px;
    display: grid;
    margin: 50px ;
}
.text{
    padding: 9px 14px;
    font-size:1.6 rem;
    margin-bottom: 5px;
}
.time{
    font-size: 10px;
}

.my{
    background:rgb(217, 255, 102);
    border: 1px solid rgb(217, 255, 102);
    border-radius: 14px 14px 0 14px;
    justify-content: end;
    justify-items: end;
}
.other{
    background:ivory ;
    border: 1px solid ivory;
    border-radius: 14px 14px 14px 0;
    justify-content: start;
    justify-items: start;
}

#my-chat{
    font-size: 15px;
    background-color: rgb(217, 255, 102);
    border-radius: 20%;
}
#other-chat{
    font-size: 15px;
    background-color: ivory;
    border-radius: 20%;
}

#profile-top{
    grid-area: profile-top;
    display: grid;
    grid: 36px/1fr 36px 36px 36px ;
    align-content: center;
}
#search-box{
    grid-area: search-box;
    display: grid;
    align-items: center;  
    
}
#search-box input{
    border-radius:10px;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      margin-left: 20px;
      margin-right: 20px;      
      border: 0;
      cursor: pointer;
}
#chat-container{
    grid-area: chat-container;
    overflow-y: scroll;
}

.chat-list{
    display: grid;
    grid-template-columns: 48px 1fr max-content;
    font-size: 1.3rem;
    border-bottom: 1px solid gray;
    padding:20px 20px 20px 15px;
    cursor: pointer;
}

.chat-list:hover,
.chat-list:active{
    background-color: grey;
}
.active{
     background-color: grey;
}
.chat-list > img{
    grid-row: span 2;
    height: 40px;
    border-radius: 100%;
}
.chat-title{
    font-weight: bold;
}
.chat-date{
    font-size: 10px;
}
.chat-message{
    
    font-size:20px ;
}

#chat-name-top
{
    grid-area: chat-name-top;
    display: flex;
    align-items: center;
    
    /* display: grid;
    grid-template-columns: 15% 50% 7% 7% 7%;
    align-content: center;
    align-items: center; */
}


#ChatName{
    font-family: monospace;
    flex: 6;
    padding-left: 10px;
    }


#chat-text-area{
    grid-area: chat-text-area;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr 1fr;
    align-content: center;
    align-items: center;
    
}

#chat-text-area input{
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin-left: 20px;
    margin-right: 20px;      
    border: 0;
}


#pp,
#chatpp{
    border-radius: 100%;
    height: 40px;
    margin-left:5px;
    cursor: pointer;
}


#status,
#message,
#menu,
#search,
#attatchments,
#menu2,
#mic{
    height: 20px;
    padding: 1px;
    margin-top: 5px;
    padding: 0 5px;
    cursor: pointer;
    }

    #smiley{
        height: 20px;
        padding: 1px;
        margin-top: 5px;
        padding: 0 35px;
        cursor: pointer;
        }

    


